<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745722693020-jqcq5c96mntbc89uvlt6mf5uhi5qtjm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745722693020-jqcq5c96mntbc89uvlt6mf5uhi5qtjm8</string>
	<key>API_KEY</key>
	<string>AIzaSyDvMfuIsScrg0gYQp45eD8GPomw1f_q4aI</string>
	<key>GCM_SENDER_ID</key>
	<string>745722693020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDu13</string>
	<key>PROJECT_ID</key>
	<string>flutterdu13</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdu13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745722693020:ios:4272ea274dfa62cf167459</string>
</dict>
</plist>